<div class="centered">
  <h1>How to play Golf the Card Game</h1>
  <p>
    Golf the Card Game is a two player game played with two standard deck of
    cards, where the goal is to get the lowest score. In this version you will
    play against the computer. You start with 4 cards facedown, 2 on top and 2
    below. You are allowed to look at the two lower cards one time, right before
    gameplay starts. After that you must remember what your cards are without
    looking at them again.
    <br /><br />
    Play always starts with you. After you have looked at your two lower cards,
    begin your turn by either drawing a card from the deck, or drawing the top
    card from the discard pile. Then you click on the card you want your drawn
    card to replace, and play passes to the computer. If you don't want the
    drawn card, you can discard it.
    <br /><br />
    Once you feel you have a low enough score, you can
    <strong>knock.</strong> You must knock after you have drawn a card but
    before you have selected where to place it. The computer can also knock.
    This action lets each player have one last turn and then gameplay ends. The
    cards will be shown and the score added up to determine the winner.
    <br /><br />
    At that point you can choose to save your score and then play again.
  </p>
  <h2>Scoring</h2>
  <ul>
    <li>Number cards are their numbered value, with Ace being 1 point.</li>
    <li>Jacks and Queens are both worth 10 points.</li>
    <li>Kings are worth zero points.</li>
  </ul>
  <p>
    In the settings, there is an option to turn on special scoring, which makes
    the Jack of Hearts a wild worth negative 2 points. Remember that Golf is
    played with two decks, so there would be two wilds in the game.
  </p>
  <p>Have Fun!</p>
</div>
