<div class="contentWrap">
  <h2>How to play 4 Card Golf</h2>
  <div class="basicPg">
    <p>
      Golf the Card Game is a two player game played with two standard deck of
      cards, where the goal is to get the lowest score. In this version you will
      play against the computer. You start with 4 cards, 2 on top facedown, and 2
      below face up. The two bottom cards will remain faceup for 3 seconds, afterwhich
      they will flip over and you must remember what your cards are without
      looking at them again. You do not get to know what your 2 top cards are. 
      <br /><br />
      Play always starts with you. After your 2 bottom cards have flipped back over,
      begin your turn by either drawing a card from the deck, or drawing the top
      card from the discard pile. Then you click on the card you want your drawn
      card to replace, and play passes to the computer. If you don't want the
      drawn card, you can discard it.
      <br /><br />
      Once you feel you have a low enough score, you can
      <strong>knock.</strong> You must knock after you have drawn a card but
      before you have selected where to place it. The computer can also knock.
      This action lets each player have one last turn and then gameplay ends. The
      cards will be shown and the score added up to determine the winner.
      <br /><br />
      If you have won, you will be able to save your score, and then play again.
    </p>
    <h2>Scoring</h2>
    <ul>
      <li>Number cards are their numbered value, with Ace being 1 point.</li>
      <li>Jacks and Queens are both worth 10 points.</li>
      <li>Kings are worth zero points.</li>
    </ul>
    <p>
      In the settings, there is an option to turn on special scoring, which makes
      the Jack of Hearts a wild worth negative 2 points. Remember that Golf is
      played with two decks, so there would be two wilds in the game.
    </p>
    <br>
    <p>Have Fun!</p>
    <div class="new4CardPg2">Ready to Play?</div>
  </div>
</div>
