<div class="contentWrap">
  <h2>4 Card Golf</h2>
  <div class="gameLayout">
    <div class="card-container-4 player">
      <div class="playerGridItem"></div>
      <div class="playerGridItem"></div>
      <div class="playerGridItem"></div>
      <div class="playerGridItem"></div>
    </div>
    <div class="deck-container">
      <div class="drawPile"></div>
      <div class="discardPile"></div>
    </div>
    <div class="card-container-4 computer">
      <div class="computerGridItem"></div>
      <div class="computerGridItem"></div>
      <div class="computerGridItem"></div>
      <div class="computerGridItem"></div>
    </div>
  
    <div id="popup">
      <div class="popupcontrols">
        <span id="popupclose">X</span>
      </div>
      <div class="popupContent">
        <h2 class="winMessage"></h2>
        <div class="scoreMessage"></div>
        <div id="saveScoreForm">
          <form id="scoreForm" name="scoreForm" action="javascript:void(0)">
            <label for="firstName">First Name: </label>
            <input
              id="firstName"
              name="firstName"
              required
            />
            <label for="lastName">Last Name: </label>
            <input
              id="lastName"
              name="lastName"
              required
            />
            <label for="date">Date</label>
            <input id="date" type="date" name="date" required />
            <button id="scoreBtn" type="submit">Save your score!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="overlay"></div>
  <button class="knockBtn">Knock</button>
  <div class="choices">
    <ul>
      <li class="new4CardPg">New Game (4 card)</li>
      <li class="new9CardPg">New Game (9 card)</li>
      <li class="scoresPg2">See Saved Scores</li>
    </ul>
  </div>
</div>