<div class="gameLayout">
    <div class="card-container-4 player">
        <div class="playerGridItem">1</div>
        <div class="playerGridItem">2</div>
        <div class="playerGridItem">3</div>
        <div class="playerGridItem">4</div>
    </div>
    <div class="deck-container">
        <div class="drawPile"></div>
        <div class="currentCardDrawn"></div>
        <div class="discardPile"></div>
    </div>
    <div class="card-container-4 computer">
        <div class="computerGridItem">1</div>
        <div class="computerGridItem">2</div>
        <div class="computerGridItem">3</div>
        <div class="computerGridItem">4</div>
    </div>
</div>