<div class="gameLayout">
  <div class="card-container-4 player">
    <div class="playerGridItem"></div>
    <div class="playerGridItem"></div>
    <div class="playerGridItem"></div>
    <div class="playerGridItem"></div>
  </div>
  <div class="deck-container">
    <div class="drawPile"></div>
    <div class="discardPile"></div>
  </div>
  <div class="card-container-4 computer">
    <div class="computerGridItem"></div>
    <div class="computerGridItem"></div>
    <div class="computerGridItem"></div>
    <div class="computerGridItem"></div>
  </div>
  <button class="knockBtn">Knock</button>
  <div id="overlay"></div>
  <div id="popup">
    <div class="popupcontrols">
      <span id="popupclose">X</span>
    </div>
    <div class="popupContent">
      <h2 class="winMessage"></h2>
      <div id="saveScoreForm">
        <form name="scoreForm" action="javascript:submit()">
          <label for="firstName">First Name</label>
          <input
            id="firstName"
            placeholder="First Name"
            name="firstName"
            required
          />
          <label for="lastName">Last Name</label>
          <input
            id="lastName"
            placeholder="Last Name"
            name="lastName"
            required
          />
          <label for="date">Date</label>
          <input id="date" type="date" name="date" required />
          <button id="scoreBtn" type="submit">Save your score!</button>
        </form>
      </div>
      <div class="choices">
        <ul>
          <li class="scoresPg2">Scores</li>
          <li class="new4CardPg">New Game (4 card)</li>
          <li class="new9CardPg">New Game (9 card)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
