<div class="gameLayout-9">
  <div class="card-container-9 player">
    <div class="playerGridItem">1</div>
    <div class="playerGridItem">2</div>
    <div class="playerGridItem">3</div>
    <div class="playerGridItem">4</div>
    <div class="playerGridItem">5</div>
    <div class="playerGridItem">6</div>
    <div class="playerGridItem">7</div>
    <div class="playerGridItem">8</div>
    <div class="playerGridItem">9</div>
  </div>
  <div class="deck-container">
    <div class="drawPile"></div>
    <div class="discardPile"></div>
  </div>
  <div class="card-container-9 computer">
    <div class="computerGridItem">1</div>
    <div class="computerGridItem">2</div>
    <div class="computerGridItem">3</div>
    <div class="computerGridItem">4</div>
    <div class="computerGridItem">5</div>
    <div class="computerGridItem">6</div>
    <div class="computerGridItem">7</div>
    <div class="computerGridItem">8</div>
    <div class="computerGridItem">9</div>
  </div>
</div>
