<div class="contentWrap settingsRadio">
  <h2>Settings</h2>
  <div class="cardColors">
    <h3>Card Backs:</h3>
    <label for="pink">
      <input
        type="radio"
        name="backColor"
        value="pink"
        id="pink"
        class="radioInput"
      />
      <div class="cardOption">Pink</div>
    </label>
    <label for="blue">
      <input
        type="radio"
        name="backColor"
        value="blue"
        id="blue"
        class="radioInput"
      />
      <div class="cardOption">Blue</div>
    </label>
  </div>
  <div class="scoringOpt">
    <h3>Scoring for 4 Card Golf</h3>
    <label for="standard">
      <input
        type="radio"
        name="scoringChoice"
        value="standard"
        id="standard"
        class="radioInput"
      />
      <div class="scoringOption">Standard</div>
    </label>
    <label for="wilds">
      <input
        type="radio"
        name="scoringChoice"
        value="wilds"
        id="wilds"
        class="radioInput"
      />
      <div class="scoringOption">Wilds</div>
    </label>
  </div>
</div>
